In [90]:
import pandas as pd
import h3


df = pd.read_csv("final_sales_data_CLEANED.csv", encoding="utf-8-sig")

C:\Users\ACER\AppData\Local\Temp\ipykernel_22832\1416050827.py:5: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("final_sales_data_CLEANED.csv", encoding="utf-8-sig")

In [91]:
pd.set_option('display.max_columns', None)
# print(df['building_type'].value_counts())
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18315 entries, 0 to 18314
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18315 non-null  int64
 1   name                    18314 non-null  object
 2   price                   18315 non-null  float64
 3   rooms                   18315 non-null  float64
 4   bath                    18315 non-null  int64
 5   Area_m2                 18315 non-null  float64
 6   location                18315 non-null  object
 7   lat                     18315 non-null  float64
 8   long                    18315 non-null  float64
 9   building_no             18310 non-null  float64
 10  Amenities               18247 non-null  object
 11  furnished               18315 non-null  object
 12  completion_status       18315 non-null  object
 13  createdAt               18315 non-null  object
 14  updatedAt               18315 non-null  object
 15  reactivatedAt           18315 non-null  object
 16  city                    18315 non-null  object
 17  region                  18298 non-null  object
 18  district                18042 non-null  object
 19  link                    18315 non-null  object
 20  building_type           18315 non-null  object
 21  all_pictures            14000 non-null  object
 22  purpose                 18315 non-null  object
 23  type                    17030 non-null  object
 24  beds                    18315 non-null  int64
 25  postal_code             18311 non-null  float64
 26  additional_no           18311 non-null  float64
 27  isVerified              18315 non-null  bool
 28  listing_age             18315 non-null  object
 29  listing_face            9194 non-null   object
 30  deed_number             18315 non-null  float64
 31  hasProject              18315 non-null  bool
 32  is_listing_constrained  18315 non-null  object
 33  is_listing_pawned       18315 non-null  object
 34  agency_name             17030 non-null  object
 35  residence_type          16602 non-null  object
dtypes: bool(2), float64(9), int64(3), object(22)
memory usage: 4.8+ MB

,id,name,price,rooms,bath,Area_m2,location,lat,long,building_no,Amenities,furnished,completion_status,createdAt,updatedAt,reactivatedAt,city,region,district,link,building_type,all_pictures,purpose,type,beds,postal_code,additional_no,isVerified,listing_age,listing_face,deed_number,hasProject,is_listing_constrained,is_listing_pawned,agency_name,residence_type
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5.0,4,186.06,Al Nahdah,21.608896,39.128730,3105.0,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,completed,2026-01-07,2026-01-07,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,Apartment,https://images.bayut.sa/thumbnails/5239135-800...,for-sale,agency,5,23523.0,8047.0,True,New,Eastern,2.600014e+11,False,No,No,Elite Buildings Real Estate Development Company,NaN
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3.0,4,178.04,Al Arid,24.873473,46.611978,7747.0,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,completed,2026-01-06,2026-01-06,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,Apartment,https://images.bayut.sa/thumbnails/5654755-800...,for-sale,agency,3,13337.0,4558.0,True,New,Western,5.853649e+15,False,No,No,Al Orouba Real Estate Company,NaN
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3.0,3,157.12,Al Qadisiyah,24.825030,46.804521,8066.0,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,completed,2026-01-06,2026-01-06,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,Apartment,https://images.bayut.sa/thumbnails/5570227-800...,for-sale,agency,3,13252.0,3068.0,True,3 years,NaN,3.178110e+11,False,Yes,No,Wiyyana,family
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2.0,3,137.98,Al Malqa,24.813335,46.595210,8967.0,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,completed,2026-01-06,2026-01-06,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,Apartment,https://images.bayut.sa/thumbnails/5549253-800...,for-sale,agency,3,13525.0,5078.0,True,5 years,NaN,4.347126e+15,False,No,No,Wiyyana,family
4,87818947,"Luxury property near the park, prime location ...",850000.0,6.0,5,210.53,Al Fayhaa,21.502377,39.229822,3106.0,"Electricity, Elevators in Building, ATM Facili...",unfurnished,completed,2026-01-06,2026-01-06,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,Apartment,https://images.bayut.sa/thumbnails/5470474-800...,for-sale,agency,6,22251.0,8078.0,True,New,NaN,3.255100e+11,False,No,No,Elite Buildings Real Estate Development Company,NaN

In [92]:

#gereksizleri tullayiram
df = df.drop(columns=["createdAt", "updatedAt", "building_type", "all_pictures", "completion_status","purpose", "hasProject"])
df.columns = [col.lower() for col in df.columns]

In [93]:
#Numerical olan, lakin categorical olmali olan sutunlari categorical edirem. Reactivate date xaric, o date typedi. 
df = df.astype({
    'id': 'str',
    'rooms': 'Int64',
})

for col in ['building_no', 'postal_code', 'additional_no', 'deed_number']:
    df[col] = pd.to_numeric(df[col], errors="coerce").round().astype('Int64').astype('str')
    df[col] = df[col].replace(['nan','<NA>'], '')
    # print(df[col].value_counts())


df['reactivatedat'] = pd.to_datetime(df['reactivatedat'])
# df.info()
# df.head()

In [94]:
df.info()
df.describe().round(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18315 entries, 0 to 18314
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18315 non-null  object
 1   name                    18314 non-null  object
 2   price                   18315 non-null  float64
 3   rooms                   18315 non-null  Int64
 4   bath                    18315 non-null  int64
 5   area_m2                 18315 non-null  float64
 6   location                18315 non-null  object
 7   lat                     18315 non-null  float64
 8   long                    18315 non-null  float64
 9   building_no             18315 non-null  object
 10  amenities               18247 non-null  object
 11  furnished               18315 non-null  object
 12  reactivatedat           18315 non-null  datetime64[ns]
 13  city                    18315 non-null  object
 14  region                  18298 non-null  object
 15  district                18042 non-null  object
 16  link                    18315 non-null  object
 17  type                    17030 non-null  object
 18  beds                    18315 non-null  int64
 19  postal_code             18315 non-null  object
 20  additional_no           18315 non-null  object
 21  isverified              18315 non-null  bool
 22  listing_age             18315 non-null  object
 23  listing_face            9194 non-null   object
 24  deed_number             18315 non-null  object
 25  is_listing_constrained  18315 non-null  object
 26  is_listing_pawned       18315 non-null  object
 27  agency_name             17030 non-null  object
 28  residence_type          16602 non-null  object
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(4), int64(2), object(20)
memory usage: 3.9+ MB

,price,rooms,bath,area_m2,lat,long,reactivatedat,beds
count,18315.00,18315.0,18315.00,18315.00,18315.00,18315.00,18315,18315.00
mean,813356.27,3.71,2.18,340.54,23.18,42.98,2025-10-13 11:05:47.321867520,2.45
min,350.00,1.0,0.00,24.73,21.41,38.96,2025-01-12 00:00:00,0.00
25%,550000.00,3.0,0.00,122.99,21.59,39.16,2025-09-01 00:00:00,0.00
50%,750000.00,4.0,3.00,146.17,24.50,46.50,2025-10-24 00:00:00,3.00
75%,950000.00,4.0,3.00,208.57,24.66,46.63,2025-12-12 00:00:00,4.00
max,13000000.00,345.0,11.00,103104.38,25.00,46.98,2026-01-07 00:00:00,11.00
std,582611.34,2.86,1.56,1770.79,1.55,3.74,NaN,1.82

In [95]:
#numerical, categorical, identical ve zaman olaraq 4 yere bolurem
num_cols = ['price', 'rooms','beds','bath', 'area_m2', 'lat', 'long']

cat_cols = ['location', 'amenities', 'furnished', 'city', 'region', 
                    'district', 'type', 'listing_age', 'listing_face', 
                    'is_listing_constrained', 'is_listing_pawned', 
                    'agency_name', 'residence_type', 'isverified']

date_cols = ['reactivatedat']

id_cols = ['id', 'name', 'link', 'building_no', 'postal_code','deed_number', 'additional_no']

In [96]:
#her Numerical sütunun min ve max deyerini, deyerlerin sayını ve missing deyerlerin sayını gösterir.  
num_summary = df[num_cols].describe().loc[['min', 'max', 'count']]

num_summary.loc['missing'] = df[num_cols].isnull().sum()

num_summary

,price,rooms,beds,bath,area_m2,lat,long
min,350.0,1.0,0.0,0.0,24.73,21.411700,38.95625
max,13000000.0,345.0,11.0,11.0,103104.38,25.000033,46.98135
count,18315.0,18315.0,18315.0,18315.0,18315.00,18315.000000,18315.00000
missing,0.0,0.0,0.0,0.0,0.00,0.000000,0.00000

In [97]:
#categorical sütunların missing deyerlerinin sayını, benzersiz deyerlerin sayını ve hemin sütunda ən çox olan deyeri gösterir
cat_summary = pd.DataFrame({
    'missing': df[cat_cols].isnull().sum(),
    'unique_count': df[cat_cols].nunique(),
    'frequency': df[cat_cols].mode().iloc[0]
})

cat_summary

,missing,unique_count,frequency
location,0,157,Al Mahdiyah
amenities,68,3239,"Electricity, Water Supply, Sewerage"
furnished,0,2,unfurnished
city,0,2,Riyadh
region,17,14,North Jeddah
district,273,148,Al Mahdiyah
type,1285,2,agency
listing_age,0,13,New
listing_face,9121,10,Eastern
is_listing_constrained,0,2,No
is_listing_pawned,0,2,No
agency_name,1285,681,MUAFQA REAL ESTATE COMPANY
residence_type,1713,2,family
isverified,0,2,False

In [98]:
# 1. Her benzersiz tapu numarasına bir Property ID ver
df['property_id'] = df.groupby('deed_number').ngroup()

# 2. Her mülk için toplam ilan sayısını hesapla (Kaç tane mükerrer olduğunu görmek için)
df['total_listings_count'] = df.groupby('property_id')['id'].transform('count')

df

,id,name,price,rooms,bath,area_m2,location,lat,long,building_no,amenities,furnished,reactivatedat,city,region,district,link,type,beds,postal_code,additional_no,isverified,listing_age,listing_face,deed_number,is_listing_constrained,is_listing_pawned,agency_name,residence_type,property_id,total_listings_count
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5,4,186.06,Al Nahdah,21.608896,39.128730,3105,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,agency,5,23523,8047,True,New,Eastern,260001436485,No,No,Elite Buildings Real Estate Development Company,NaN,416,1
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3,4,178.04,Al Arid,24.873473,46.611978,7747,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,agency,3,13337,4558,True,New,Western,5853649382900005,No,No,Al Orouba Real Estate Company,NaN,2960,1
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3,3,157.12,Al Qadisiyah,24.825030,46.804521,8066,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,agency,3,13252,3068,True,3 years,NaN,317811004196,Yes,No,Wiyyana,family,877,1
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2,3,137.98,Al Malqa,24.813335,46.595210,8967,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,agency,3,13525,5078,True,5 years,NaN,4347125507700007,No,No,Wiyyana,family,2150,1
4,87818947,"Luxury property near the park, prime location ...",850000.0,6,5,210.53,Al Fayhaa,21.502377,39.229822,3106,"Electricity, Elevators in Building, ATM Facili...",unfurnished,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,agency,6,22251,8078,True,New,NaN,325510001720,No,No,Elite Buildings Real Estate Development Company,NaN,1059,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18310,87836178,"Studio Apartment For Sale in Al Fayhaa, Jeddah",190000.0,2,0,85.00,Al Fayhaa,21.502470,39.232884,8075,NaN,unfurnished,2025-12-12,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87836...,agency,0,22251,3418,False,New,Eastern,860002738673,No,No,Altaj Alraqi Real Estate Services Establishment,family,4177,54
18311,87836139,"Studio Apartment For Sale in Al Fayhaa, Jeddah",180000.0,2,0,85.00,Al Fayhaa,21.502470,39.232884,8075,NaN,unfurnished,2025-12-12,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87836...,agency,0,22251,3418,False,New,Eastern,860002738673,No,No,Altaj Alraqi Real Estate Services Establishment,family,4177,54
18312,87835839,"Studio Apartment For Sale in Al Fayhaa, Jeddah",180000.0,2,0,85.00,Al Fayhaa,21.502470,39.232884,8075,NaN,unfurnished,2025-12-12,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87835...,agency,0,22251,3418,False,New,Eastern,860002738673,No,No,Altaj Alraqi Real Estate Services Establishment,family,4177,54
18313,87818991,"Studio Apartment For Sale in Al Marwah, Jeddah",630000.0,5,0,131.14,Al Marwah,21.626502,39.185383,8948,NaN,unfurnished,2025-11-18,Jeddah,North Jeddah,Al Marwah,https://www.bayut.sa/en/property/details-87818...,NaN,0,23542,2342,False,1 year,Southeasterly,482011000419,No,No,NaN,family,2448,2
18314,87748414,"Studio Apartment For Sale in Al Fayhaa, Jeddah",650000.0,5,0,178.21,Al Fayhaa,21.502661,39.235558,3699,NaN,unfurnished,2025-09-06,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87748...,agency,0,22251,8108,False,New,NaN,660002646750,No,No,Ali Omar Aqeel Al Nahdi Real Estate Services,family,3155,2

In [99]:
# Her mülk grubu için 'doğru' kabul edilecek değerleri (medyan) hesapla
# Bu işlem uç değerleri (345 oda vb.) otomatik olarak etkisiz hale getirir
group_medians = df.groupby('property_id')[num_cols].transform('median')

# Mevcut değerler medyan ile uyuşuyor mu? (Tolerans: Alan için %10, diğerleri birebir aynı olmalı)
df['is_faulty'] = (
    (df['rooms'] != group_medians['rooms']) | 
    (df['area_m2'] > group_medians['area_m2'] * 1.1) | 
    (df['area_m2'] < group_medians['area_m2'] * 0.9)
)



print(f"Hatalı/Yalan bilgi içeren ilan sayısı: {df['is_faulty'].sum()}")
df.describe()

Hatalı/Yalan bilgi içeren ilan sayısı: 2766

,price,rooms,bath,area_m2,lat,long,reactivatedat,beds,property_id,total_listings_count
count,1.831500e+04,18315.0,18315.000000,18315.00000,18315.000000,18315.000000,18315,18315.000000,18315.000000,18315.000000
mean,8.133563e+05,3.705433,2.181654,340.53892,23.177933,42.976773,2025-10-13 11:05:47.321867520,2.453999,2582.235326,18.323505
min,3.500000e+02,1.0,0.000000,24.73000,21.411700,38.956250,2025-01-12 00:00:00,0.000000,0.000000,1.000000
25%,5.500000e+05,3.0,0.000000,122.99000,21.586931,39.164664,2025-09-01 00:00:00,0.000000,1311.000000,2.000000
50%,7.500000e+05,4.0,3.000000,146.17000,24.500994,46.497284,2025-10-24 00:00:00,3.000000,2700.000000,10.000000
75%,9.500000e+05,4.0,3.000000,208.56550,24.663114,46.629455,2025-12-12 00:00:00,4.000000,3884.000000,26.000000
max,1.300000e+07,345.0,11.000000,103104.38000,25.000033,46.981350,2026-01-07 00:00:00,11.000000,5064.000000,96.000000
std,5.826113e+05,2.855956,1.564399,1770.79235,1.552558,3.735961,NaN,1.824116,1476.162643,21.183298

In [100]:
# Her mülk içindeki ilanları tarihe göre sırala ve en güncelini 'Ana İlan' seç
df['is_main_listing'] = False
main_indices = df.sort_values(['property_id', 'reactivatedat'], ascending=[True, False]).groupby('property_id').head(1).index
df.loc[main_indices, 'is_main_listing'] = True

In [101]:
# Sadece ana ilanları al ve hatalı işaretlenenleri (outliers) dışarıda bırak
df_clean = df[(df['is_main_listing'] == True) & (df['is_faulty'] == False)].copy()

# Temizlik sonrası veri kontrolü
print(f"Başlangıç ilan sayısı: {len(df)}")
print(f"Temizlik sonrası gerçek mülk sayısı: {len(df_clean)}")
print(f"Yeni Maksimum Oda Sayısı: {df_clean['rooms'].max()}") # Artık 345 görmemelisin
df_clean.describe()
df_clean

Başlangıç ilan sayısı: 18315
Temizlik sonrası gerçek mülk sayısı: 4678
Yeni Maksimum Oda Sayısı: 100

,id,name,price,rooms,bath,area_m2,location,lat,long,building_no,amenities,furnished,reactivatedat,city,region,district,link,type,beds,postal_code,additional_no,isverified,listing_age,listing_face,deed_number,is_listing_constrained,is_listing_pawned,agency_name,residence_type,property_id,total_listings_count,is_faulty,is_main_listing
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5,4,186.06,Al Nahdah,21.608896,39.128730,3105,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,agency,5,23523,8047,True,New,Eastern,260001436485,No,No,Elite Buildings Real Estate Development Company,NaN,416,1,False,True
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3,4,178.04,Al Arid,24.873473,46.611978,7747,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,agency,3,13337,4558,True,New,Western,5853649382900005,No,No,Al Orouba Real Estate Company,NaN,2960,1,False,True
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3,3,157.12,Al Qadisiyah,24.825030,46.804521,8066,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,agency,3,13252,3068,True,3 years,NaN,317811004196,Yes,No,Wiyyana,family,877,1,False,True
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2,3,137.98,Al Malqa,24.813335,46.595210,8967,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,agency,3,13525,5078,True,5 years,NaN,4347125507700007,No,No,Wiyyana,family,2150,1,False,True
4,87818947,"Luxury property near the park, prime location ...",850000.0,6,5,210.53,Al Fayhaa,21.502377,39.229822,3106,"Electricity, Elevators in Building, ATM Facili...",unfurnished,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,agency,6,22251,8078,True,New,NaN,325510001720,No,No,Elite Buildings Real Estate Development Company,NaN,1059,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18275,87746339,"Studio Apartment For Sale in Taiba District, J...",650000.0,5,0,180.81,Taiba District,21.804200,39.140064,7562,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Taiba District,https://www.bayut.sa/en/property/details-87746...,NaN,0,23832,4575,False,New,Eastern,999082005588,No,No,NaN,family,5038,1,False,True
18276,87745993,"Studio Apartment For Sale in Mishrifah, Jeddah",610000.0,5,0,159.48,Mishrifah,21.545117,39.209299,2757,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Mishrifah,https://www.bayut.sa/en/property/details-87745...,NaN,0,23341,7139,False,New,South Western,362008000140,No,No,NaN,family,1443,1,False,True
18278,87745831,"Studio Apartment For Sale in Al Nuzhah, Jeddah",630000.0,5,0,179.82,Al Nuzhah,21.618430,39.176209,4523,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Al Nuzhah,https://www.bayut.sa/en/property/details-87745...,NaN,0,23534,6501,False,New,Southern,360001536653,No,No,NaN,family,1217,1,False,True
18279,87745827,"Studio Apartment For Sale in Al Marwah, Jeddah",590000.0,5,0,156.84,Al Marwah,21.610223,39.207938,4678,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Al Marwah,https://www.bayut.sa/en/property/details-87745...,NaN,0,23543,7154,False,New,South Western,525422003726,No,No,NaN,family,2672,1,False,True
18283,87615515,"5 Bedroom Apartment For Sale in Badr, Riyadh",780000.0,5,4,242.77,Badr,24.515565,46.730345,2944,Electricity,unfurnished,2025-02-11,Riyadh,South Riyadh,Badr,https://www.bayut.sa/en/property/details-87615...,NaN,5,14743,6791,False,New,NaN,618501009955,No,No,NaN,family,3050,2,False,True

In [102]:
# Bilimsel piyasa gerçeklerine dayalı GÜNCEL Hard Filter
df_clean2 = df_clean[
    (df_clean['price'].between(2000, 5000000)) &    # 2k altı ve 500k üstü gürültüleri temizler
    (df_clean['rooms'].between(0, 15)) &          # 10 odadan fazlası Apartment verisini bozar
    (df_clean['area_m2'].between(30, 2000))       # 30m2 altı ev değil, 2000m2 üstü genelde arsadır
].copy()

print(f"Global temizlik sonrası kalan mülk sayısı: {len(df_clean2)}")
print(f"Yeni Max Oda: {df_clean2['rooms'].max()} | Yeni Max Alan: {df_clean2['area_m2'].max()} m2")
print(f"Yeni Min-Max Fiyat: {df_clean2['price'].min()} - {df_clean2['price'].max()} SAR")

# İstatistiksel özet
display(df_clean2.describe())

Global temizlik sonrası kalan mülk sayısı: 4600
Yeni Max Oda: 13 | Yeni Max Alan: 1971.86 m2
Yeni Min-Max Fiyat: 25000.0 - 5000000.0 SAR

,price,rooms,bath,area_m2,lat,long,reactivatedat,beds,property_id,total_listings_count
count,4.600000e+03,4600.0,4600.000000,4600.000000,4600.000000,4600.000000,4600,4600.000000,4600.000000,4600.000000
mean,8.635186e+05,3.885217,2.390000,176.262973,23.443607,43.596872,2025-10-14 05:04:35.478260992,2.718696,2523.600652,3.235870
min,2.500000e+04,1.0,0.000000,42.860000,21.411700,38.956250,2025-01-20 00:00:00,0.000000,0.000000,1.000000
25%,5.900000e+05,3.0,1.000000,119.830000,21.605431,39.206905,2025-08-27 00:00:00,0.000000,1255.750000,1.000000
50%,7.500000e+05,4.0,3.000000,143.215000,24.560102,46.562804,2025-10-27 00:00:00,3.000000,2523.500000,1.000000
75%,1.029000e+06,5.0,3.000000,178.547500,24.808626,46.747924,2025-12-12 00:00:00,4.000000,3784.250000,2.000000
max,5.000000e+06,13.0,11.000000,1971.860000,24.965535,46.981350,2026-01-07 00:00:00,11.000000,5064.000000,96.000000
std,4.251565e+05,1.186958,1.593525,150.840865,1.548600,3.704407,NaN,1.932881,1467.935093,6.616956

In [103]:
# Bilimsel ve piyasa gerçeklerine dayalı nihai filtreleme
df_clean = df_clean[
    (df_clean['price'] >= 100000) &      # 100k altı satış verisi için gerçekçi değildir
    (df_clean['rooms'] <= 15) &         # 15 odadan fazlası 'Apartment' kategorisi için hatadır
    (df_clean['area_m2'] >= 30) &       # 30 m2 altı ev değildir
    (df_clean['area_m2'] <= 1500)       # 1500 m2 üstü genelde hatalı arsa verisidir
].copy()

print(f"Global temizlik sonrası kalan mülk sayısı: {len(df_clean)}")
print(f"Yeni Max Oda: {df_clean['rooms'].max()} | Yeni Min Fiyat: {df_clean['price'].min()}")
df_clean.describe()
df_clean

Global temizlik sonrası kalan mülk sayısı: 4598
Yeni Max Oda: 13 | Yeni Min Fiyat: 200000.0

,id,name,price,rooms,bath,area_m2,location,lat,long,building_no,amenities,furnished,reactivatedat,city,region,district,link,type,beds,postal_code,additional_no,isverified,listing_age,listing_face,deed_number,is_listing_constrained,is_listing_pawned,agency_name,residence_type,property_id,total_listings_count,is_faulty,is_main_listing
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5,4,186.06,Al Nahdah,21.608896,39.128730,3105,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,agency,5,23523,8047,True,New,Eastern,260001436485,No,No,Elite Buildings Real Estate Development Company,NaN,416,1,False,True
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3,4,178.04,Al Arid,24.873473,46.611978,7747,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,agency,3,13337,4558,True,New,Western,5853649382900005,No,No,Al Orouba Real Estate Company,NaN,2960,1,False,True
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3,3,157.12,Al Qadisiyah,24.825030,46.804521,8066,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,agency,3,13252,3068,True,3 years,NaN,317811004196,Yes,No,Wiyyana,family,877,1,False,True
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2,3,137.98,Al Malqa,24.813335,46.595210,8967,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,agency,3,13525,5078,True,5 years,NaN,4347125507700007,No,No,Wiyyana,family,2150,1,False,True
4,87818947,"Luxury property near the park, prime location ...",850000.0,6,5,210.53,Al Fayhaa,21.502377,39.229822,3106,"Electricity, Elevators in Building, ATM Facili...",unfurnished,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,agency,6,22251,8078,True,New,NaN,325510001720,No,No,Elite Buildings Real Estate Development Company,NaN,1059,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18275,87746339,"Studio Apartment For Sale in Taiba District, J...",650000.0,5,0,180.81,Taiba District,21.804200,39.140064,7562,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Taiba District,https://www.bayut.sa/en/property/details-87746...,NaN,0,23832,4575,False,New,Eastern,999082005588,No,No,NaN,family,5038,1,False,True
18276,87745993,"Studio Apartment For Sale in Mishrifah, Jeddah",610000.0,5,0,159.48,Mishrifah,21.545117,39.209299,2757,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Mishrifah,https://www.bayut.sa/en/property/details-87745...,NaN,0,23341,7139,False,New,South Western,362008000140,No,No,NaN,family,1443,1,False,True
18278,87745831,"Studio Apartment For Sale in Al Nuzhah, Jeddah",630000.0,5,0,179.82,Al Nuzhah,21.618430,39.176209,4523,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Al Nuzhah,https://www.bayut.sa/en/property/details-87745...,NaN,0,23534,6501,False,New,Southern,360001536653,No,No,NaN,family,1217,1,False,True
18279,87745827,"Studio Apartment For Sale in Al Marwah, Jeddah",590000.0,5,0,156.84,Al Marwah,21.610223,39.207938,4678,Electricity,unfurnished,2025-09-04,Jeddah,North Jeddah,Al Marwah,https://www.bayut.sa/en/property/details-87745...,NaN,0,23543,7154,False,New,South Western,525422003726,No,No,NaN,family,2672,1,False,True
18283,87615515,"5 Bedroom Apartment For Sale in Badr, Riyadh",780000.0,5,4,242.77,Badr,24.515565,46.730345,2944,Electricity,unfurnished,2025-02-11,Riyadh,South Riyadh,Badr,https://www.bayut.sa/en/property/details-87615...,NaN,5,14743,6791,False,New,NaN,618501009955,No,No,NaN,family,3050,2,False,True

In [104]:

def get_h3_index(row):
    return h3.latlng_to_cell(row['lat'], row['long'], res=10)

df['h3_index'] = df.apply(get_h3_index, axis=1)

# df

In [105]:
# 1. Soft match olan grupları linkleriyle birlikte detaylandıralım
# 'h3_index', 'area_m2', 'rooms' bazında gruplayıp linkleri liste olarak alıyoruz
soft_match_links = df_clean.groupby(['h3_index', 'area_m2', 'rooms']).agg({
    'link': lambda x: list(x),
    'price': ['min', 'max', 'count'],
    'property_id': lambda x: list(x),
    'deed_number': lambda x: list(x)
}).reset_index()

# Sütun isimlerini düzelt
soft_match_links.columns = ['h3_index', 'area_m2', 'rooms', 'links', 'min_price', 'max_price', 'listing_count', 'property_ids', 'deed_numbers']

# Sadece birden fazla farklı ilan içeren grupları filtrele
test_list = soft_match_links[soft_match_links['listing_count'] > 1].sort_values(by='listing_count', ascending=False)

# Linkleri daha rahat tıklanabilir/görülebilir hale getirmek için ilk 10 grubu yazdır
for i, row in test_list.head(10).iterrows():
    print(f"\n--- Şüpheli Grup {i} ---")
    print(f"Konum (H3): {row['h3_index']} | Alan: {row['area_m2']} m2 | Oda: {row['rooms']}")
    print(f"Fiyat Aralığı: {row['min_price']} - {row['max_price']}")
    print(f"İlan Sayısı: {row['listing_count']}")
    print("Kontrol Edilecek Linkler:")
    for link in row['links']:
        print(f"  > {link}")

KeyError: 'h3_index'

In [ ]:
# 1. Önce veriyi tarihe göre sıralayalım ki 'drop_duplicates' en güncel ilanı tutsun
df_final = df_clean.sort_values(by='reactivatedat', ascending=False)

# 2. Hem Hard Match hem Soft Match'i kapsayan nihai tekilleştirme
# Aynı konum, aynı m2 ve aynı oda sayısına sahip her şeyi teke indiriyoruz
df_final = df_final.drop_duplicates(
    subset=['h3_index', 'area_m2', 'rooms', 'bath'], 
    keep='first'
)

print(f"Temizlik Öncesi (Ham): 18.315")
print(f"Hard Match + Outlier Sonrası: {len(df_clean)}") 
print(f"Soft Match (NİHAİ) Sonrası: {len(df_final)}")
df_final

Temizlik Öncesi (Ham): 18.315
Hard Match + Outlier Sonrası: 4598
Soft Match (NİHAİ) Sonrası: 4432