In [475]:
import pandas as pd
import h3


df = pd.read_csv("final_sales_data_CLEANED.csv", encoding="utf-8-sig")

C:\Users\ACER\AppData\Local\Temp\ipykernel_18540\1416050827.py:5: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("final_sales_data_CLEANED.csv", encoding="utf-8-sig")

In [476]:
pd.set_option('display.max_columns', None)
# print(df['building_type'].value_counts())
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18315 entries, 0 to 18314
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18315 non-null  int64
 1   name                    18314 non-null  object
 2   price                   18315 non-null  float64
 3   rooms                   18315 non-null  float64
 4   bath                    18315 non-null  int64
 5   Area_m2                 18315 non-null  float64
 6   location                18315 non-null  object
 7   lat                     18315 non-null  float64
 8   long                    18315 non-null  float64
 9   building_no             18310 non-null  float64
 10  Amenities               18247 non-null  object
 11  furnished               18315 non-null  object
 12  completion_status       18315 non-null  object
 13  createdAt               18315 non-null  object
 14  updatedAt               18315 non-null  object
 15  reactivatedAt           18315 non-null  object
 16  city                    18315 non-null  object
 17  region                  18298 non-null  object
 18  district                18042 non-null  object
 19  link                    18315 non-null  object
 20  building_type           18315 non-null  object
 21  all_pictures            14000 non-null  object
 22  purpose                 18315 non-null  object
 23  type                    17030 non-null  object
 24  beds                    18315 non-null  int64
 25  postal_code             18311 non-null  float64
 26  additional_no           18311 non-null  float64
 27  isVerified              18315 non-null  bool
 28  listing_age             18315 non-null  object
 29  listing_face            9194 non-null   object
 30  deed_number             18315 non-null  float64
 31  hasProject              18315 non-null  bool
 32  is_listing_constrained  18315 non-null  object
 33  is_listing_pawned       18315 non-null  object
 34  agency_name             17030 non-null  object
 35  residence_type          16602 non-null  object
dtypes: bool(2), float64(9), int64(3), object(22)
memory usage: 4.8+ MB

,id,name,price,rooms,bath,Area_m2,location,lat,long,building_no,Amenities,furnished,completion_status,createdAt,updatedAt,reactivatedAt,city,region,district,link,building_type,all_pictures,purpose,type,beds,postal_code,additional_no,isVerified,listing_age,listing_face,deed_number,hasProject,is_listing_constrained,is_listing_pawned,agency_name,residence_type
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5.0,4,186.06,Al Nahdah,21.608896,39.128730,3105.0,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,completed,2026-01-07,2026-01-07,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,Apartment,https://images.bayut.sa/thumbnails/5239135-800...,for-sale,agency,5,23523.0,8047.0,True,New,Eastern,2.600014e+11,False,No,No,Elite Buildings Real Estate Development Company,NaN
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3.0,4,178.04,Al Arid,24.873473,46.611978,7747.0,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,completed,2026-01-06,2026-01-06,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,Apartment,https://images.bayut.sa/thumbnails/5654755-800...,for-sale,agency,3,13337.0,4558.0,True,New,Western,5.853649e+15,False,No,No,Al Orouba Real Estate Company,NaN
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3.0,3,157.12,Al Qadisiyah,24.825030,46.804521,8066.0,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,completed,2026-01-06,2026-01-06,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,Apartment,https://images.bayut.sa/thumbnails/5570227-800...,for-sale,agency,3,13252.0,3068.0,True,3 years,NaN,3.178110e+11,False,Yes,No,Wiyyana,family
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2.0,3,137.98,Al Malqa,24.813335,46.595210,8967.0,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,completed,2026-01-06,2026-01-06,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,Apartment,https://images.bayut.sa/thumbnails/5549253-800...,for-sale,agency,3,13525.0,5078.0,True,5 years,NaN,4.347126e+15,False,No,No,Wiyyana,family
4,87818947,"Luxury property near the park, prime location ...",850000.0,6.0,5,210.53,Al Fayhaa,21.502377,39.229822,3106.0,"Electricity, Elevators in Building, ATM Facili...",unfurnished,completed,2026-01-06,2026-01-06,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,Apartment,https://images.bayut.sa/thumbnails/5470474-800...,for-sale,agency,6,22251.0,8078.0,True,New,NaN,3.255100e+11,False,No,No,Elite Buildings Real Estate Development Company,NaN

In [477]:

#gereksizleri tullayiram
df = df.drop(columns=["createdAt", "updatedAt", "building_type", "all_pictures", "completion_status","purpose", "hasProject"])
df.columns = [col.lower() for col in df.columns]

In [478]:
#Numerical olan, lakin categorical olmali olan sutunlari categorical edirem. Reactivate date xaric, o date typedi. 
df = df.astype({
    'id': 'str',
    'rooms': 'Int64',
})

for col in ['building_no', 'postal_code', 'additional_no', 'deed_number']:
    df[col] = pd.to_numeric(df[col], errors="coerce").round().astype('Int64').astype('str')
    df[col] = df[col].replace(['nan','<NA>'], '')
    # print(df[col].value_counts())


df['reactivatedat'] = pd.to_datetime(df['reactivatedat'])
# df.info()
# df.head()

In [479]:
df.info()
df.describe().round(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18315 entries, 0 to 18314
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18315 non-null  object
 1   name                    18314 non-null  object
 2   price                   18315 non-null  float64
 3   rooms                   18315 non-null  Int64
 4   bath                    18315 non-null  int64
 5   area_m2                 18315 non-null  float64
 6   location                18315 non-null  object
 7   lat                     18315 non-null  float64
 8   long                    18315 non-null  float64
 9   building_no             18315 non-null  object
 10  amenities               18247 non-null  object
 11  furnished               18315 non-null  object
 12  reactivatedat           18315 non-null  datetime64[ns]
 13  city                    18315 non-null  object
 14  region                  18298 non-null  object
 15  district                18042 non-null  object
 16  link                    18315 non-null  object
 17  type                    17030 non-null  object
 18  beds                    18315 non-null  int64
 19  postal_code             18315 non-null  object
 20  additional_no           18315 non-null  object
 21  isverified              18315 non-null  bool
 22  listing_age             18315 non-null  object
 23  listing_face            9194 non-null   object
 24  deed_number             18315 non-null  object
 25  is_listing_constrained  18315 non-null  object
 26  is_listing_pawned       18315 non-null  object
 27  agency_name             17030 non-null  object
 28  residence_type          16602 non-null  object
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(4), int64(2), object(20)
memory usage: 3.9+ MB

,price,rooms,bath,area_m2,lat,long,reactivatedat,beds
count,18315.00,18315.0,18315.00,18315.00,18315.00,18315.00,18315,18315.00
mean,813356.27,3.71,2.18,340.54,23.18,42.98,2025-10-13 11:05:47.321867520,2.45
min,350.00,1.0,0.00,24.73,21.41,38.96,2025-01-12 00:00:00,0.00
25%,550000.00,3.0,0.00,122.99,21.59,39.16,2025-09-01 00:00:00,0.00
50%,750000.00,4.0,3.00,146.17,24.50,46.50,2025-10-24 00:00:00,3.00
75%,950000.00,4.0,3.00,208.57,24.66,46.63,2025-12-12 00:00:00,4.00
max,13000000.00,345.0,11.00,103104.38,25.00,46.98,2026-01-07 00:00:00,11.00
std,582611.34,2.86,1.56,1770.79,1.55,3.74,NaN,1.82

In [480]:
#numerical, categorical, identical ve zaman olaraq 4 yere bolurem
num_cols = ['price', 'rooms','beds','bath', 'area_m2', 'lat', 'long']

cat_cols = ['location', 'amenities', 'furnished', 'city', 'region', 
                    'district', 'type', 'listing_age', 'listing_face', 
                    'is_listing_constrained', 'is_listing_pawned', 
                    'agency_name', 'residence_type', 'isverified']

date_cols = ['reactivatedat']

id_cols = ['id', 'name', 'link', 'building_no', 'postal_code','deed_number', 'additional_no']

In [481]:
#her Numerical sütunun min ve max deyerini, deyerlerin sayını ve missing deyerlerin sayını gösterir.  
num_summary = df[num_cols].describe().loc[['min', 'max', 'count']]

num_summary.loc['missing'] = df[num_cols].isnull().sum()

num_summary

,price,rooms,beds,bath,area_m2,lat,long
min,350.0,1.0,0.0,0.0,24.73,21.411700,38.95625
max,13000000.0,345.0,11.0,11.0,103104.38,25.000033,46.98135
count,18315.0,18315.0,18315.0,18315.0,18315.00,18315.000000,18315.00000
missing,0.0,0.0,0.0,0.0,0.00,0.000000,0.00000

In [482]:
#categorical sütunların missing deyerlerinin sayını, benzersiz deyerlerin sayını ve hemin sütunda ən çox olan deyeri gösterir
cat_summary = pd.DataFrame({
    'missing': df[cat_cols].isnull().sum(),
    'unique_count': df[cat_cols].nunique(),
    'frequency': df[cat_cols].mode().iloc[0]
})

cat_summary

,missing,unique_count,frequency
location,0,157,Al Mahdiyah
amenities,68,3239,"Electricity, Water Supply, Sewerage"
furnished,0,2,unfurnished
city,0,2,Riyadh
region,17,14,North Jeddah
district,273,148,Al Mahdiyah
type,1285,2,agency
listing_age,0,13,New
listing_face,9121,10,Eastern
is_listing_constrained,0,2,No
is_listing_pawned,0,2,No
agency_name,1285,681,MUAFQA REAL ESTATE COMPANY
residence_type,1713,2,family
isverified,0,2,False

In [483]:

def get_h3_index(row):
    return h3.latlng_to_cell(row['lat'], row['long'], res=10)

df['h3_index'] = df.apply(get_h3_index, axis=1)

df['h3_11'] = df.apply(
    lambda row: h3.latlng_to_cell(
        row['lat'],
        row['long'],
        11
    ),
    axis=1
)

# df

In [484]:
df = df[(df['rooms'] >= 1) & (df['rooms'] <= 15)]

# 1. Her benzersiz tapu numarasına bir Property ID ver
# df['property_id'] = df.groupby('deed_number').ngroup()
# Aynı bina + aynı oda sayısı = aynı daire tipi
df['property_id'] = df.groupby(['deed_number', 'rooms', 'h3_11']).ngroup()


# 2. Her mülk için toplam ilan sayısını hesapla (Kaç tane mükerrer olduğunu görmek için)
df['total_listings_count'] = df.groupby('property_id')['id'].transform('count')

# df

In [485]:
# Her mülk grubu için 'doğru' kabul edilecek değerleri (medyan) hesapla
# Bu işlem uç değerleri (345 oda vb.) otomatik olarak etkisiz hale getirir
group_medians = df.groupby('property_id')[num_cols].transform('median')



# Mevcut değerler medyan ile uyuşuyor mu? (Tolerans: Alan için %10, diğerleri birebir aynı olmalı)
df['is_faulty'] = (
    # (df['rooms'] != group_medians['rooms']) | 
    (df['area_m2'] > group_medians['area_m2'] * 1.1) | 
    (df['area_m2'] < group_medians['area_m2'] * 0.9)
)



print(f"Hatalı/Yalan bilgi içeren ilan sayısı: {df['is_faulty'].sum()}")
df.describe()
df

Hatalı/Yalan bilgi içeren ilan sayısı: 23

,id,name,price,rooms,bath,area_m2,location,lat,long,building_no,amenities,furnished,reactivatedat,city,region,district,link,type,beds,postal_code,additional_no,isverified,listing_age,listing_face,deed_number,is_listing_constrained,is_listing_pawned,agency_name,residence_type,h3_index,h3_11,property_id,total_listings_count,is_faulty
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5,4,186.06,Al Nahdah,21.608896,39.128730,3105,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,agency,5,23523,8047,True,New,Eastern,260001436485,No,No,Elite Buildings Real Estate Development Company,NaN,8a53a952c68ffff,8b53a952c68dfff,605,1,False
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3,4,178.04,Al Arid,24.873473,46.611978,7747,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,agency,3,13337,4558,True,New,Western,5853649382900005,No,No,Al Orouba Real Estate Company,NaN,8a537379e637fff,8b537379e634fff,4393,1,False
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3,3,157.12,Al Qadisiyah,24.825030,46.804521,8066,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,agency,3,13252,3068,True,3 years,NaN,317811004196,Yes,No,Wiyyana,family,8a537361bab7fff,8b537361bab0fff,1311,1,False
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2,3,137.98,Al Malqa,24.813335,46.595210,8967,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,agency,3,13525,5078,True,5 years,NaN,4347125507700007,No,No,Wiyyana,family,8a5354b4d807fff,8b5354b4d800fff,3166,1,False
4,87818947,"Luxury property near the park, prime location ...",850000.0,6,5,210.53,Al Fayhaa,21.502377,39.229822,3106,"Electricity, Elevators in Building, ATM Facili...",unfurnished,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,agency,6,22251,8078,True,New,NaN,325510001720,No,No,Elite Buildings Real Estate Development Company,NaN,8a53a9551247fff,8b53a955125cfff,1552,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18310,87836178,"Studio Apartment For Sale in Al Fayhaa, Jeddah",190000.0,2,0,85.00,Al Fayhaa,21.502470,39.232884,8075,NaN,unfurnished,2025-12-12,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87836...,agency,0,22251,3418,False,New,Eastern,860002738673,No,No,Altaj Alraqi Real Estate Services Establishment,family,8a53a955c507fff,8b53a955c506fff,6283,30,False
18311,87836139,"Studio Apartment For Sale in Al Fayhaa, Jeddah",180000.0,2,0,85.00,Al Fayhaa,21.502470,39.232884,8075,NaN,unfurnished,2025-12-12,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87836...,agency,0,22251,3418,False,New,Eastern,860002738673,No,No,Altaj Alraqi Real Estate Services Establishment,family,8a53a955c507fff,8b53a955c506fff,6283,30,False
18312,87835839,"Studio Apartment For Sale in Al Fayhaa, Jeddah",180000.0,2,0,85.00,Al Fayhaa,21.502470,39.232884,8075,NaN,unfurnished,2025-12-12,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87835...,agency,0,22251,3418,False,New,Eastern,860002738673,No,No,Altaj Alraqi Real Estate Services Establishment,family,8a53a955c507fff,8b53a955c506fff,6283,30,False
18313,87818991,"Studio Apartment For Sale in Al Marwah, Jeddah",630000.0,5,0,131.14,Al Marwah,21.626502,39.185383,8948,NaN,unfurnished,2025-11-18,Jeddah,North Jeddah,Al Marwah,https://www.bayut.sa/en/property/details-87818...,NaN,0,23542,2342,False,1 year,Southeasterly,482011000419,No,No,NaN,family,8a53a9cd840ffff,8b53a9cd840afff,3581,1,False
18314,87748414,"Studio Apartment For Sale in Al Fayhaa, Jeddah",650000.0,5,0,178.21,Al Fayhaa,21.502661,39.235558,3699,NaN,unfurnished,2025-09-06,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87748...,agency,0,22251,8108,False,New,NaN,660002646750,No,No,Ali Omar Aqeel Al Nahdi Real Estate Services,family,8a53a955c577fff,8b53a955c570fff,4680,2,False

In [486]:
# Her mülk içindeki ilanları tarihe göre sırala ve en güncelini 'Ana İlan' seç
df['is_main_listing'] = False
main_indices = df.sort_values(['property_id', 'reactivatedat'], ascending=[True, False]).groupby('property_id').head(1).index
df.loc[main_indices, 'is_main_listing'] = True

In [487]:
# Sadece ana ilanları al ve hatalı işaretlenenleri (outliers) dışarıda bırak
df_clean = df[(df['is_main_listing'] == True) & (df['is_faulty'] == False)].copy()

# Temizlik sonrası veri kontrolü
print(f"Başlangıç ilan sayısı: {len(df)}")
print(f"Temizlik sonrası gerçek mülk sayısı: {len(df_clean)}")
print(f"Yeni Maksimum Oda Sayısı: {df_clean['rooms'].max()}") # Artık 345 görmemelisin
df_clean.describe()
df_clean

Başlangıç ilan sayısı: 18307
Temizlik sonrası gerçek mülk sayısı: 7576
Yeni Maksimum Oda Sayısı: 13

,id,name,price,rooms,bath,area_m2,location,lat,long,building_no,amenities,furnished,reactivatedat,city,region,district,link,type,beds,postal_code,additional_no,isverified,listing_age,listing_face,deed_number,is_listing_constrained,is_listing_pawned,agency_name,residence_type,h3_index,h3_11,property_id,total_listings_count,is_faulty,is_main_listing
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.0,5,4,186.06,Al Nahdah,21.608896,39.128730,3105,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,2025-10-16,Jeddah,North Jeddah,Al Nahdah,https://www.bayut.sa/en/property/details-87788...,agency,5,23523,8047,True,New,Eastern,260001436485,No,No,Elite Buildings Real Estate Development Company,NaN,8a53a952c68ffff,8b53a952c68dfff,605,1,False,True
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.0,3,4,178.04,Al Arid,24.873473,46.611978,7747,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,2026-01-02,Riyadh,North Riyadh,Al Arid,https://www.bayut.sa/en/property/details-87860...,agency,3,13337,4558,True,New,Western,5853649382900005,No,No,Al Orouba Real Estate Company,NaN,8a537379e637fff,8b537379e634fff,4393,1,False,True
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.0,3,3,157.12,Al Qadisiyah,24.825030,46.804521,8066,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,https://www.bayut.sa/en/property/details-87839...,agency,3,13252,3068,True,3 years,NaN,317811004196,Yes,No,Wiyyana,family,8a537361bab7fff,8b537361bab0fff,1311,1,False,True
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.0,2,3,137.98,Al Malqa,24.813335,46.595210,8967,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,2025-12-14,Riyadh,North Riyadh,Al Malqa,https://www.bayut.sa/en/property/details-87837...,agency,3,13525,5078,True,5 years,NaN,4347125507700007,No,No,Wiyyana,family,8a5354b4d807fff,8b5354b4d800fff,3166,1,False,True
4,87818947,"Luxury property near the park, prime location ...",850000.0,6,5,210.53,Al Fayhaa,21.502377,39.229822,3106,"Electricity, Elevators in Building, ATM Facili...",unfurnished,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,https://www.bayut.sa/en/property/details-87818...,agency,6,22251,8078,True,New,NaN,325510001720,No,No,Elite Buildings Real Estate Development Company,NaN,8a53a9551247fff,8b53a955125cfff,1552,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18281,87727766,"Al Rayan District, Sultan Plan",470000.0,4,3,123.34,Al Rayaan,21.685804,39.215479,3333,Electricity,unfurnished,2025-08-26,Jeddah,North Jeddah,Al Rayaan,https://www.bayut.sa/en/property/details-87727...,NaN,4,55555,3333,False,New,Eastern,360002882881,No,No,NaN,NaN,8a53a9cc10d7fff,8b53a9cc10d0fff,2017,1,False,True
18283,87615515,"5 Bedroom Apartment For Sale in Badr, Riyadh",780000.0,5,4,242.77,Badr,24.515565,46.730345,2944,Electricity,unfurnished,2025-02-11,Riyadh,South Riyadh,Badr,https://www.bayut.sa/en/property/details-87615...,NaN,5,14743,6791,False,New,NaN,618501009955,No,No,NaN,family,8a5355c30207fff,8b5355c30204fff,4530,2,False,True
18293,87792340,"Studio Apartment For Sale in Al Aziziyah, Jeddah",600000.0,3,0,550.00,Al Aziziyah,21.555076,39.177582,8841,NaN,unfurnished,2025-10-22,Jeddah,North Jeddah,Al Aziziyah,https://www.bayut.sa/en/property/details-87792...,agency,0,23334,2396,False,New,NaN,281753000102,No,No,Barioon Real Estate Development Establishment,family,8a53a957211ffff,8b53a9572119fff,968,1,False,True
18294,87792300,"Apartment For Sale in Al Aziziyah, Jeddah",600000.0,4,0,616.00,Al Aziziyah,21.555079,39.177570,8841,NaN,unfurnished,2025-10-22,Jeddah,North Jeddah,Al Aziziyah,https://www.bayut.sa/en/property/details-87792...,agency,0,23334,2396,False,New,NaN,219891000454,No,No,Barioon Real Estate Development Establishment,family,8a53a957211ffff,8b53a9572119fff,443,1,False,True
18313,87818991,"Studio Apartment For Sale in Al Marwah, Jeddah",630000.0,5,0,131.14,Al Marwah,21.626502,39.185383,8948,NaN,unfurnished,2025-11-18,Jeddah,North Jeddah,Al Marwah,https://www.bayut.sa/en/property/details-87818...,NaN,0,23542,2342,False,1 year,Southeasterly,482011000419,No,No,NaN,family,8a53a9cd840ffff,8b53a9cd840afff,3581,1,False,True

In [488]:
# Bilimsel piyasa gerçeklerine dayalı GÜNCEL Hard Filter
df_clean2 = df_clean[
    (df_clean['price'].between(2000, 5000000)) &    # 2k altı ve 500k üstü gürültüleri temizler
    (df_clean['rooms'].between(0, 15)) &          # 10 odadan fazlası Apartment verisini bozar
    (df_clean['area_m2'].between(30, 2000))       # 30m2 altı ev değil, 2000m2 üstü genelde arsadır
].copy()

print(f"Global temizlik sonrası kalan mülk sayısı: {len(df_clean2)}")
print(f"Yeni Max Oda: {df_clean2['rooms'].max()} | Yeni Max Alan: {df_clean2['area_m2'].max()} m2")
print(f"Yeni Min-Max Fiyat: {df_clean2['price'].min()} - {df_clean2['price'].max()} SAR")

# İstatistiksel özet
display(df_clean2.describe())

Global temizlik sonrası kalan mülk sayısı: 7426
Yeni Max Oda: 13 | Yeni Max Alan: 2000.0 m2
Yeni Min-Max Fiyat: 25000.0 - 5000000.0 SAR

,price,rooms,bath,area_m2,lat,long,reactivatedat,beds,property_id,total_listings_count
count,7.426000e+03,7426.0,7426.000000,7426.000000,7426.000000,7426.000000,7426,7426.000000,7426.000000,7426.000000
mean,8.318998e+05,3.827767,2.320226,220.614932,23.449575,43.620036,2025-10-13 08:39:29.620253440,2.619041,3792.535147,2.405871
min,2.500000e+04,1.0,0.000000,42.860000,21.411700,38.956250,2025-01-20 00:00:00,0.000000,0.000000,1.000000
25%,5.700000e+05,3.0,0.000000,120.980000,21.606780,39.198234,2025-08-27 00:00:00,0.000000,1900.250000,1.000000
50%,7.450000e+05,4.0,3.000000,146.380000,24.554105,46.555511,2025-10-27 00:00:00,3.000000,3800.500000,1.000000
75%,1.000000e+06,5.0,3.000000,190.400000,24.807591,46.751089,2025-12-12 00:00:00,4.000000,5685.750000,2.000000
max,5.000000e+06,13.0,11.000000,2000.000000,25.000033,46.981350,2026-01-07 00:00:00,11.000000,7580.000000,94.000000
std,4.051768e+05,1.152524,1.596904,230.296273,1.541300,3.702647,NaN,1.908382,2188.733634,4.333018

In [494]:
# Bilimsel ve piyasa gerçeklerine dayalı nihai filtreleme
df_clean = df_clean[
    (df_clean['price'] >= 100000) &      # 100k altı satış verisi için gerçekçi değildir
    (df_clean['rooms'] <= 15) &         # 15 odadan fazlası 'Apartment' kategorisi için hatadır
    (df_clean['area_m2'] >= 20) &       # 20 m2 altı ev değildir
    (df_clean['area_m2'] <= 1500)       # 1500 m2 üstü genelde hatalı arsa verisidir
].copy()

print(f"Global temizlik sonrası kalan mülk sayısı: {len(df_clean)}")
print(f"Yeni Max Oda: {df_clean['rooms'].max()} | Yeni Min Fiyat: {df_clean['price'].min()}")
df_clean.describe()

Global temizlik sonrası kalan mülk sayısı: 7411
Yeni Max Oda: 13 | Yeni Min Fiyat: 180000.0

,price,rooms,bath,area_m2,lat,long,reactivatedat,beds,property_id,total_listings_count
count,7.411000e+03,7411.0,7411.000000,7411.000000,7411.000000,7411.000000,7411,7411.000000,7411.000000,7411.000000
mean,8.614051e+05,3.833491,2.319660,213.574190,23.457145,43.640457,2025-10-13 09:33:35.436513280,2.617865,3795.866550,2.403184
min,1.800000e+05,1.0,0.000000,24.730000,21.411700,38.956250,2025-01-20 00:00:00,0.000000,0.000000,1.000000
25%,5.700000e+05,3.0,0.000000,120.980000,21.607022,39.199266,2025-08-27 00:00:00,0.000000,1903.500000,1.000000
50%,7.500000e+05,4.0,3.000000,146.200000,24.554113,46.557942,2025-10-27 00:00:00,3.000000,3804.000000,1.000000
75%,1.000000e+06,5.0,3.000000,189.300000,24.807486,46.752262,2025-12-12 00:00:00,4.000000,5690.500000,2.000000
max,1.300000e+07,13.0,11.000000,1492.720000,25.000033,46.981350,2026-01-07 00:00:00,11.000000,7580.000000,94.000000
std,5.893386e+05,1.150868,1.599162,205.750406,1.539547,3.698907,NaN,1.909554,2188.809003,4.333769

In [490]:
# 1. Soft match olan grupları linkleriyle birlikte detaylandıralım
# 'h3_index', 'area_m2', 'rooms' bazında gruplayıp linkleri liste olarak alıyoruz
soft_match_links = df_clean.groupby(['h3_index', 'area_m2', 'rooms']).agg({
    'link': lambda x: list(x),
    'price': ['min', 'max', 'count'],
    'property_id': lambda x: list(x),
    'deed_number': lambda x: list(x)
}).reset_index()

# Sütun isimlerini düzelt
soft_match_links.columns = ['h3_index', 'area_m2', 'rooms', 'links', 'min_price', 'max_price', 'listing_count', 'property_ids', 'deed_numbers']

# Sadece birden fazla farklı ilan içeren grupları filtrele
test_list = soft_match_links[soft_match_links['listing_count'] > 1].sort_values(by='listing_count', ascending=False)

# Linkleri daha rahat tıklanabilir/görülebilir hale getirmek için ilk 10 grubu yazdır
for i, row in test_list.head(10).iterrows():
    print(f"\n--- Şüpheli Grup {i} ---")
    print(f"Konum (H3): {row['h3_index']} | Alan: {row['area_m2']} m2 | Oda: {row['rooms']}")
    print(f"Fiyat Aralığı: {row['min_price']} - {row['max_price']}")
    print(f"İlan Sayısı: {row['listing_count']}")
    print("Kontrol Edilecek Linkler:")
    for link in row['links']:
        print(f"  > {link}")

--- Şüpheli Grup 4626 ---
Konum (H3): 8a53a952bb77fff | Alan: 107.91 m2 | Oda: 3
Fiyat Aralığı: 595000.0 - 650000.0
İlan Sayısı: 25
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87839517.html
  > https://www.bayut.sa/en/property/details-87860581.html
  > https://www.bayut.sa/en/property/details-87861185.html
  > https://www.bayut.sa/en/property/details-87850313.html
  > https://www.bayut.sa/en/property/details-87860497.html
  > https://www.bayut.sa/en/property/details-87862650.html
  > https://www.bayut.sa/en/property/details-87861394.html
  > https://www.bayut.sa/en/property/details-87832774.html
  > https://www.bayut.sa/en/property/details-87845202.html
  > https://www.bayut.sa/en/property/details-87829443.html
  > https://www.bayut.sa/en/property/details-87753179.html
  > https://www.bayut.sa/en/property/details-87843058.html
  > https://www.bayut.sa/en/property/details-87780601.html
  > https://www.bayut.sa/en/property/details-87801829.html
  > https://www.bayut.sa/en/property/details-87813185.html
  > https://www.bayut.sa/en/property/details-87829561.html
  > https://www.bayut.sa/en/property/details-87828479.html
  > https://www.bayut.sa/en/property/details-87828128.html
  > https://www.bayut.sa/en/property/details-87850487.html
  > https://www.bayut.sa/en/property/details-87830092.html
  > https://www.bayut.sa/en/property/details-87824888.html
  > https://www.bayut.sa/en/property/details-87812406.html
  > https://www.bayut.sa/en/property/details-87802467.html
  > https://www.bayut.sa/en/property/details-87861304.html
  > https://www.bayut.sa/en/property/details-87817346.html

--- Şüpheli Grup 4628 ---
Konum (H3): 8a53a952bb77fff | Alan: 121.25 m2 | Oda: 4
Fiyat Aralığı: 650000.0 - 670000.0
İlan Sayısı: 21
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87843773.html
  > https://www.bayut.sa/en/property/details-87861959.html
  > https://www.bayut.sa/en/property/details-87862653.html
  > https://www.bayut.sa/en/property/details-87848077.html
  > https://www.bayut.sa/en/property/details-87862746.html
  > https://www.bayut.sa/en/property/details-87846455.html
  > https://www.bayut.sa/en/property/details-87839870.html
  > https://www.bayut.sa/en/property/details-87832200.html
  > https://www.bayut.sa/en/property/details-87801785.html
  > https://www.bayut.sa/en/property/details-87817578.html
  > https://www.bayut.sa/en/property/details-87861827.html
  > https://www.bayut.sa/en/property/details-87861507.html
  > https://www.bayut.sa/en/property/details-87833321.html
  > https://www.bayut.sa/en/property/details-87829811.html
  > https://www.bayut.sa/en/property/details-87837811.html
  > https://www.bayut.sa/en/property/details-87797656.html
  > https://www.bayut.sa/en/property/details-87822486.html
  > https://www.bayut.sa/en/property/details-87817139.html
  > https://www.bayut.sa/en/property/details-87802690.html
  > https://www.bayut.sa/en/property/details-87724231.html
  > https://www.bayut.sa/en/property/details-87771222.html

--- Şüpheli Grup 4883 ---
Konum (H3): 8a53a952dceffff | Alan: 132.3 m2 | Oda: 4
Fiyat Aralığı: 600000.0 - 750000.0
İlan Sayısı: 14
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87861239.html
  > https://www.bayut.sa/en/property/details-87843730.html
  > https://www.bayut.sa/en/property/details-87862730.html
  > https://www.bayut.sa/en/property/details-87829637.html
  > https://www.bayut.sa/en/property/details-87783012.html
  > https://www.bayut.sa/en/property/details-87710675.html
  > https://www.bayut.sa/en/property/details-87831378.html
  > https://www.bayut.sa/en/property/details-87860572.html
  > https://www.bayut.sa/en/property/details-87850505.html
  > https://www.bayut.sa/en/property/details-87850498.html
  > https://www.bayut.sa/en/property/details-87816621.html
  > https://www.bayut.sa/en/property/details-87861311.html
  > https://www.bayut.sa/en/property/details-87861252.html
  > https://www.bayut.sa/en/property/details-87855285.html

--- Şüpheli Grup 5929 ---
Konum (H3): 8a53a95764d7fff | Alan: 127.78 m2 | Oda: 4
Fiyat Aralığı: 730000.0 - 800000.0
İlan Sayısı: 11
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87850803.html
  > https://www.bayut.sa/en/property/details-87855299.html
  > https://www.bayut.sa/en/property/details-87855699.html
  > https://www.bayut.sa/en/property/details-87855690.html
  > https://www.bayut.sa/en/property/details-87855657.html
  > https://www.bayut.sa/en/property/details-87855632.html
  > https://www.bayut.sa/en/property/details-87855507.html
  > https://www.bayut.sa/en/property/details-87861073.html
  > https://www.bayut.sa/en/property/details-87861698.html
  > https://www.bayut.sa/en/property/details-87855273.html
  > https://www.bayut.sa/en/property/details-87855245.html

--- Şüpheli Grup 4884 ---
Konum (H3): 8a53a952dceffff | Alan: 150.48 m2 | Oda: 4
Fiyat Aralığı: 800000.0 - 830000.0
İlan Sayısı: 10
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87861091.html
  > https://www.bayut.sa/en/property/details-87862721.html
  > https://www.bayut.sa/en/property/details-87832179.html
  > https://www.bayut.sa/en/property/details-87850510.html
  > https://www.bayut.sa/en/property/details-87818171.html
  > https://www.bayut.sa/en/property/details-87862024.html
  > https://www.bayut.sa/en/property/details-87861399.html
  > https://www.bayut.sa/en/property/details-87860498.html
  > https://www.bayut.sa/en/property/details-87850494.html
  > https://www.bayut.sa/en/property/details-87790384.html

--- Şüpheli Grup 5424 ---
Konum (H3): 8a53a956a66ffff | Alan: 134.92 m2 | Oda: 4
Fiyat Aralığı: 450000.0 - 450000.0
İlan Sayısı: 8
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87844725.html
  > https://www.bayut.sa/en/property/details-87844534.html
  > https://www.bayut.sa/en/property/details-87844262.html
  > https://www.bayut.sa/en/property/details-87844210.html
  > https://www.bayut.sa/en/property/details-87844139.html
  > https://www.bayut.sa/en/property/details-87844109.html
  > https://www.bayut.sa/en/property/details-87844065.html
  > https://www.bayut.sa/en/property/details-87843392.html

--- Şüpheli Grup 5944 ---
Konum (H3): 8a53a957652ffff | Alan: 124.53 m2 | Oda: 4
Fiyat Aralığı: 750000.0 - 780000.0
İlan Sayısı: 8
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87771401.html
  > https://www.bayut.sa/en/property/details-87850807.html
  > https://www.bayut.sa/en/property/details-87850713.html
  > https://www.bayut.sa/en/property/details-87850710.html
  > https://www.bayut.sa/en/property/details-87845465.html
  > https://www.bayut.sa/en/property/details-87860802.html
  > https://www.bayut.sa/en/property/details-87835542.html
  > https://www.bayut.sa/en/property/details-87725346.html

--- Şüpheli Grup 4630 ---
Konum (H3): 8a53a952bb77fff | Alan: 190.1 m2 | Oda: 5
Fiyat Aralığı: 1000000.0 - 10000000.0
İlan Sayısı: 7
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87862318.html
  > https://www.bayut.sa/en/property/details-87850763.html
  > https://www.bayut.sa/en/property/details-87851105.html
  > https://www.bayut.sa/en/property/details-87816159.html
  > https://www.bayut.sa/en/property/details-87821804.html
  > https://www.bayut.sa/en/property/details-87803850.html
  > https://www.bayut.sa/en/property/details-87818505.html

--- Şüpheli Grup 1697 ---
Konum (H3): 8a5355db40a7fff | Alan: 116.31 m2 | Oda: 3
Fiyat Aralığı: 780000.0 - 900000.0
İlan Sayısı: 6
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87641990.html
  > https://www.bayut.sa/en/property/details-87642041.html
  > https://www.bayut.sa/en/property/details-87641547.html
  > https://www.bayut.sa/en/property/details-87637836.html
  > https://www.bayut.sa/en/property/details-87642158.html
  > https://www.bayut.sa/en/property/details-87639981.html

--- Şüpheli Grup 4414 ---
Konum (H3): 8a53a9529097fff | Alan: 111.49 m2 | Oda: 4
Fiyat Aralığı: 640000.0 - 650000.0
İlan Sayısı: 6
Kontrol Edilecek Linkler:
  > https://www.bayut.sa/en/property/details-87862817.html
  > https://www.bayut.sa/en/property/details-87817592.html
  > https://www.bayut.sa/en/property/details-87796752.html
  > https://www.bayut.sa/en/property/details-87625928.html
  > https://www.bayut.sa/en/property/details-87855288.html
  > https://www.bayut.sa/en/property/details-87855218.html

In [491]:
# 1. Önce veriyi tarihe göre sıralayalım ki 'drop_duplicates' en güncel ilanı tutsun
df_final = df_clean.sort_values(by='reactivatedat', ascending=False)

# 2. Hem Hard Match hem Soft Match'i kapsayan nihai tekilleştirme
# Aynı konum, aynı m2 ve aynı oda sayısına sahip her şeyi teke indiriyoruz
df_final = df_final.drop_duplicates(
    subset=['h3_index', 'area_m2', 'rooms', 'bath'], 
    keep='first'
)

print(f"Temizlik Öncesi (Ham): 18.315")
print(f"Hard Match + Outlier Sonrası: {len(df_clean)}") 
print(f"Soft Match (NİHAİ) Sonrası: {len(df_final)}")
df_final

Temizlik Öncesi (Ham): 18.315
Hard Match + Outlier Sonrası: 7411
Soft Match (NİHAİ) Sonrası: 7012

,id,name,price,rooms,bath,area_m2,location,lat,long,building_no,amenities,furnished,reactivatedat,city,region,district,link,type,beds,postal_code,additional_no,isverified,listing_age,listing_face,deed_number,is_listing_constrained,is_listing_pawned,agency_name,residence_type,h3_index,h3_11,property_id,total_listings_count,is_faulty,is_main_listing
1441,87862720,"3-bedroom apartment for sale in Tuwaiq, for co...",750000.0,3,4,188.89,Tuwaiq,24.557518,46.502687,2623,Electricity,unfurnished,2026-01-07,Riyadh,West Riyadh,Tuwaiq,https://www.bayut.sa/en/property/details-87862...,agency,3,14931,7511,False,New,Northern,2730391923000004,No,No,Wathaek Real Estate Development Company,family,8a5354aea297fff,8b5354aea292fff,921,10,False,True
1700,87862848,"2 Bedroom Apartment For Sale in Al Hamra, Jeddah",820000.0,2,3,118.40,Al Hamraa,21.515597,39.161393,7032,Electricity,unfurnished,2026-01-07,Jeddah,Central Jeddah,Al Hamraa,https://www.bayut.sa/en/property/details-87862...,agency,2,23212,2910,False,New,NaN,560002820405,No,No,Elite Buildings Real Estate Development Company,family,8a53a9556caffff,8b53a9556caafff,4172,2,False,True
1509,87862835,Two-bedroom apartment for sale in Mahdia,770000.0,4,3,106.19,Al Mahdiyah,24.656860,46.510328,4226,"Electricity, Water Supply, Sewerage, Fixed Pho...",unfurnished,2026-01-07,Riyadh,West Riyadh,Al Mahdiyah,https://www.bayut.sa/en/property/details-87862...,developer,2,13759,6980,False,New,Southern,5878890131400006,No,No,MUAFQA REAL ESTATE COMPANY,family,8a5354a54707fff,8b5354a54700fff,4401,1,False,True
1510,87862806,4-room apartment in Al Rawda district for sale...,780000.0,4,3,137.64,Al Rawdah,21.566711,39.162124,4013,"Private Entrance, Electricity, Water Supply, S...",unfurnished,2026-01-07,Jeddah,North Jeddah,Al Rawdah,https://www.bayut.sa/en/property/details-87862...,agency,4,23434,8019,False,New,NaN,260002873198,No,No,Abdulaziz Ahmed Hassan Al-Maliki Real Estate D...,family,8a53a95764f7fff,8b53a95764f3fff,768,10,False,True
1512,87862675,"Apartment For Sale in Al Qurtubah, Riyadh",700000.0,3,2,107.52,Qurtubah,24.809288,46.749112,3746,"Electricity, Water Supply, Sewerage, ATM Facil...",unfurnished,2026-01-07,Riyadh,East Riyadh,Qurtubah,https://www.bayut.sa/en/property/details-87862...,agency,3,13245,7023,False,9 years,Southern,210112025281,Yes,No,Osos Cordoba Real Estate Corporation,NaN,8a53736a825ffff,8b53736a825cfff,394,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9258,87612681,"Apartment for sale in Al Shati, North Jeddah",1900000.0,1,2,101.96,Al Shati,21.577993,39.110287,6635,"Electricity, Water Supply",furnished,2025-01-29,Jeddah,North Jeddah,Al Shati,https://www.bayut.sa/en/property/details-87612...,agency,1,23415,2523,False,10+ years,NaN,311315001904,No,No,Rowad Al Maqayis Real Estate Services Company,family,8a53a950525ffff,8b53a952a5a6fff,1279,1,False,True
17982,87612325,"Apartment For Sale in Al Nuzhah, Jeddah",395000.0,3,3,625.00,Al Nuzhah,21.624754,39.167826,2940,"Electricity, Water Supply",unfurnished,2025-01-28,Jeddah,North Jeddah,Al Nuzhah,https://www.bayut.sa/en/property/details-87612...,NaN,0,23532,7206,False,New,Southern,393813010051,No,No,NaN,family,8a53a9cde6affff,8b53a9cde6a8fff,2589,1,False,True
3976,87611952,"Luxury Apartments for Sale in Al Aziziyah, Nor...",680000.0,5,4,188.20,Al Aziziyah,21.548797,39.188421,8148,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,2025-01-27,Jeddah,North Jeddah,Al Aziziyah,https://www.bayut.sa/en/property/details-87611...,agency,5,23333,3514,False,New,South Western,325416007818,No,No,The Golden Real Estate Deal Office,family,8a53a9572277fff,8b53a9572273fff,1515,1,False,True
2902,87610533,"Apartment for sale in Al Woroud, North Jeddah",1500000.0,7,3,220.74,Al Woroud,21.515594,39.202348,6753,"Private Entrance, Electricity, Water Supply, S...",unfurnished,2025-01-20,Jeddah,North Jeddah,Al Woroud,https://www.bayut.sa/en/property/details-87610...,agency,5,23221,3028,False,3 years,NaN,993836007792,No,No,Al Mashreq Al Khassah Real Estate Office,NaN,8a53a9550a07fff,8b53a9550a04fff,7406,1,False,True
5844,87610606,"Apartment for sale in Al Rayaan, North Jeddah",640000.0,6,4,208.83,Al Rayaan,21.705628,39.210164,7651,"Electricity, Water Supply, Fixed Phone, Air Co...",unfurnished,2025-01-20,Jeddah,North Jeddah,Al Rayaan,https://www.bayut.sa/en/property/details-87610...,agency,6,23741,3041,False,New,NaN,725420011337,No,No,Rowad Al Maqayis Real Estate Services Company,family,8a53a9cc576ffff,8b53a9cc576efff,5253,1,False,True