In [37]:
import pandas as pd


df = pd.read_csv("final_sales_data_CLEANED.csv", 
                 encoding="utf-8-sig", 
                 dtype={'all_pictures': str})

In [ ]:
# 1. Kaç tane dolu (NaN olmayan) deed_number değeri var?
dolu_sayisi = df['deed_number'].count()

# 2. Bu değerlerin listesi (İlk 10 tanesini görelim)
degerler = df['deed_number'].unique()

print(f"Toplam {len(df)} satırdan {dolu_sayisi} tanesinde deed_number verisi dolu.")
print(f"Sütundaki benzersiz değerlerin sayısı: {len(degerler)}")
print("\nÖrnek deed_number değerleri:")
print(degerler[:10]) # İlk 10 tanesini listeler

,id,name,price,rooms,bath,Area_m2,location,lat,long,building_no,Amenities,furnished,completion_status,createdAt,updatedAt,reactivatedAt,city,region,district,link,building_type,all_pictures,purpose,type,beds,postal_code,additional_no,isVerified,listing_age,listing_face,deed_number,hasProject,is_listing_constrained,is_listing_pawned,agency_name,residence_type
1685,87719970,"Apartment For Sale in Al Khaleej, Riyadh",800000.00,3.00,0,151.17,Al Khaleej,24.77,46.80,6623.00,"Electricity, Water Supply",unfurnished,completed,2025-09-06,2025-10-08,2025-08-18,Riyadh,East Riyadh,Al Khaleej,https://www.bayut.sa/en/property/details-87719...,Apartment,https://images.bayut.sa/thumbnails/5049275-800...,for-sale,agency,0,13224.00,2852.00,False,New,Western,1025628454800001.0,False,No,No,Sakn Al Maali Real Estate,family
16250,87849833,"Studio Apartment For Sale in Al Mahdiyah, Riyadh",880000.00,3.00,0,122.51,Al Mahdiyah,24.66,46.52,2810.00,Electricity,unfurnished,completed,2025-12-29,2026-01-07,2025-12-29,Riyadh,West Riyadh,Al Mahdiyah,https://www.bayut.sa/en/property/details-87849...,Apartment,NaN,for-sale,agency,0,13754.00,7856.00,False,New,NaN,1029423045600001.0,False,No,No,Nous Real Estate Company,family
16073,87853339,"Studio Apartment For Sale in Al Mahdiyah, Riyadh",880000.00,3.00,0,122.51,Al Mahdiyah,24.66,46.52,2810.00,Electricity,unfurnished,completed,2025-12-30,2026-01-05,2025-12-30,Riyadh,West Riyadh,Al Mahdiyah,https://www.bayut.sa/en/property/details-87853...,Apartment,NaN,for-sale,agency,0,13754.00,7856.00,False,New,NaN,1029423045600001.0,False,No,No,Nous Real Estate Company,family
16066,87853356,"Apartment For Sale in Al Mahdiyah, Riyadh",880000.00,3.00,0,122.51,Al Mahdiyah,24.66,46.52,2810.00,Electricity,unfurnished,completed,2025-12-30,2026-01-05,2025-12-30,Riyadh,West Riyadh,Al Mahdiyah,https://www.bayut.sa/en/property/details-87853...,Apartment,NaN,for-sale,agency,0,13754.00,7856.00,False,New,NaN,1029423045600001.0,False,No,No,Nous Real Estate Company,family
16065,87853370,"Studio Apartment For Sale in Al Mahdiyah, Riyadh",880000.00,3.00,0,122.51,Al Mahdiyah,24.66,46.52,2810.00,Electricity,unfurnished,completed,2025-12-30,2026-01-05,2025-12-30,Riyadh,West Riyadh,Al Mahdiyah,https://www.bayut.sa/en/property/details-87853...,Apartment,NaN,for-sale,agency,0,13754.00,7856.00,False,New,NaN,1029423045600001.0,False,No,No,Nous Real Estate Company,family

In [33]:


# 1. Her bir deed_number'ın kaç kez geçtiğini hesapla
deed_counts = df['deed_number'].value_counts()

# 2. Sadece 1'den fazla geçenleri (yani tekrar edenleri) filtrele
duplicates = deed_counts[deed_counts > 1]

# 3. Sonuçları yazdır
print(f"Tekrar eden benzersiz 'deed_number' sayısı: {len(duplicates)}")
print(f"Toplam tekrar eden satır sayısı: {df.duplicated(subset=['deed_number']).sum()}")
print("\nEn çok tekrar eden ilk 10 deed_number ve sayıları:")
print(duplicates.head(10))



df.head(10)

Tekrar eden benzersiz 'deed_number' sayısı: 0
Toplam tekrar eden satır sayısı: 0

En çok tekrar eden ilk 10 deed_number ve sayıları:
Series([], Name: count, dtype: int64)

,id,name,price,rooms,bath,Area_m2,location,lat,long,building_no,Amenities,furnished,completion_status,reactivatedAt,city,region,district,building_type,type,beds,postal_code,additional_no,isVerified,listing_age,listing_face,deed_number,hasProject,is_listing_constrained,is_listing_pawned,agency_name,residence_type
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.00,5.00,4,186.06,Al Nahdah,21.608895528013,39.128729565209,3105.0,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,completed,2025-10-16,Jeddah,North Jeddah,Al Nahdah,Apartment,agency,5,23523.0,8047.0,True,New,Eastern,260001436485.0,False,No,No,Elite Buildings Real Estate Development Company,nan
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.00,3.00,4,178.04,Al Arid,24.873473034429,46.611978132007,7747.0,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,completed,2026-01-02,Riyadh,North Riyadh,Al Arid,Apartment,agency,3,13337.0,4558.0,True,New,Western,5853649382900005.0,False,No,No,Al Orouba Real Estate Company,nan
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.00,3.00,3,157.12,Al Qadisiyah,24.82502969569,46.804521380611,8066.0,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,completed,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,Apartment,agency,3,13252.0,3068.0,True,3 years,nan,317811004196.0,False,Yes,No,Wiyyana,family
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.00,2.00,3,137.98,Al Malqa,24.813334982977,46.59521004705,8967.0,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,completed,2025-12-14,Riyadh,North Riyadh,Al Malqa,Apartment,agency,3,13525.0,5078.0,True,5 years,nan,4347125507700007.0,False,No,No,Wiyyana,family
4,87818947,"Luxury property near the park, prime location ...",850000.00,6.00,5,210.53,Al Fayhaa,21.502377399655,39.229822130537,3106.0,"Electricity, Elevators in Building, ATM Facili...",unfurnished,completed,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,Apartment,agency,6,22251.0,8078.0,True,New,nan,325510001720.0,False,No,No,Elite Buildings Real Estate Development Company,nan
5,87818958,"A few steps from the sea - Own your unit, a te...",980000.00,3.00,2,150.52,Al Hamraa,21.515592119034,39.161324843744,7032.0,"Electricity, Water Supply, Sewerage, Double Gl...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,3,23212.0,2910.0,True,New,nan,760002820586.0,False,No,No,Elite Buildings Real Estate Development Company,nan
6,87819007,Luxury property - near the train station in Je...,860000.00,6.00,5,213.86,Al Fayhaa,21.500737945282,39.230685588801,3196.0,"Electricity, Elevators in Building, Smart Home...",unfurnished,completed,2025-11-18,Jeddah,North Jeddah,Al Fayhaa,Apartment,agency,6,22251.0,7898.0,True,New,nan,762057000335.0,False,No,No,Elite Buildings Real Estate Development Company,nan
7,87819035,A luxurious lifestyle by the sea - to own your...,970000.00,3.00,2,145.11,Al Hamraa,21.515579522029,39.161356423383,7032.0,"Electricity, Water Supply, Sewerage, Double Gl...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,3,23212.0,2910.0,True,New,nan,260002820408.0,False,No,No,Elite Buildings Real Estate Development Company,nan
8,87819118,Near Jeddah Beach - Apartment for sale by Nukh...,820000.00,2.00,2,118.40,Al Hamraa,21.515596831012,39.161392752712,7032.0,"Electricity, Water Supply, Sewerage, Double Gl...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,2,23212.0,2910.0,True,New,nan,560002820405.0,False,No,No,Elite Buildings Real Estate Development Company,nan
9,87819119,"Annex (Rooftop) near the waterfront, owned by ...",2550000.00,6.00,5,242.26,Al Hamraa,21.515650182956,39.161431608072,7032.0,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,6,23212.0,2910.0,True,New,nan,160002820414.0,False,No,No,Elite Buildings Real Estate Development Company,nan

In [31]:

df.drop(columns=['createdAt', 'updatedAt', 'link', 'all_pictures', 'purpose'], inplace=True, errors='ignore')

pd.options.display.max_columns = None

df.head(10)

,id,name,price,rooms,bath,Area_m2,location,lat,long,building_no,Amenities,furnished,completion_status,reactivatedAt,city,region,district,building_type,type,beds,postal_code,additional_no,isVerified,listing_age,listing_face,deed_number,hasProject,is_listing_constrained,is_listing_pawned,agency_name,residence_type
0,87788343,Luxury property near King Road in Jeddah - Al ...,1230000.00,5.00,4,186.06,Al Nahdah,21.608895528013,39.128729565209,3105.0,"Electricity, Sewerage, Air Conditioning, Eleva...",unfurnished,completed,2025-10-16,Jeddah,North Jeddah,Al Nahdah,Apartment,agency,5,23523.0,8047.0,True,New,Eastern,260001436485.0,False,No,No,Elite Buildings Real Estate Development Company,nan
1,87860369,Apartment in North Riyadh，Al Arid 3 bedrooms 1...,1590000.00,3.00,4,178.04,Al Arid,24.873473034429,46.611978132007,7747.0,"Electricity, Water Supply, Flood Drainage, Fib...",unfurnished,completed,2026-01-02,Riyadh,North Riyadh,Al Arid,Apartment,agency,3,13337.0,4558.0,True,New,Western,5853649382900005.0,False,No,No,Al Orouba Real Estate Company,nan
2,87839439,Apartment with 3 bedrooms for sale in Al Qudsi...,890000.00,3.00,3,157.12,Al Qadisiyah,24.82502969569,46.804521380611,8066.0,"Electricity, Water Supply, Air Conditioning, S...",unfurnished,completed,2025-12-16,Riyadh,East Riyadh,Al Qadisiyah,Apartment,agency,3,13252.0,3068.0,True,3 years,nan,317811004196.0,False,Yes,No,Wiyyana,family
3,87837487,"Apartment for sale in Al Malqa, North Riyadh",1360000.00,2.00,3,137.98,Al Malqa,24.813334982977,46.59521004705,8967.0,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,completed,2025-12-14,Riyadh,North Riyadh,Al Malqa,Apartment,agency,3,13525.0,5078.0,True,5 years,nan,4347125507700007.0,False,No,No,Wiyyana,family
4,87818947,"Luxury property near the park, prime location ...",850000.00,6.00,5,210.53,Al Fayhaa,21.502377399655,39.229822130537,3106.0,"Electricity, Elevators in Building, ATM Facili...",unfurnished,completed,2025-11-17,Jeddah,North Jeddah,Al Fayhaa,Apartment,agency,6,22251.0,8078.0,True,New,nan,325510001720.0,False,No,No,Elite Buildings Real Estate Development Company,nan
5,87818958,"A few steps from the sea - Own your unit, a te...",980000.00,3.00,2,150.52,Al Hamraa,21.515592119034,39.161324843744,7032.0,"Electricity, Water Supply, Sewerage, Double Gl...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,3,23212.0,2910.0,True,New,nan,760002820586.0,False,No,No,Elite Buildings Real Estate Development Company,nan
6,87819007,Luxury property - near the train station in Je...,860000.00,6.00,5,213.86,Al Fayhaa,21.500737945282,39.230685588801,3196.0,"Electricity, Elevators in Building, Smart Home...",unfurnished,completed,2025-11-18,Jeddah,North Jeddah,Al Fayhaa,Apartment,agency,6,22251.0,7898.0,True,New,nan,762057000335.0,False,No,No,Elite Buildings Real Estate Development Company,nan
7,87819035,A luxurious lifestyle by the sea - to own your...,970000.00,3.00,2,145.11,Al Hamraa,21.515579522029,39.161356423383,7032.0,"Electricity, Water Supply, Sewerage, Double Gl...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,3,23212.0,2910.0,True,New,nan,260002820408.0,False,No,No,Elite Buildings Real Estate Development Company,nan
8,87819118,Near Jeddah Beach - Apartment for sale by Nukh...,820000.00,2.00,2,118.40,Al Hamraa,21.515596831012,39.161392752712,7032.0,"Electricity, Water Supply, Sewerage, Double Gl...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,2,23212.0,2910.0,True,New,nan,560002820405.0,False,No,No,Elite Buildings Real Estate Development Company,nan
9,87819119,"Annex (Rooftop) near the waterfront, owned by ...",2550000.00,6.00,5,242.26,Al Hamraa,21.515650182956,39.161431608072,7032.0,"Electricity, Water Supply, Sewerage, Balcony o...",unfurnished,completed,2025-11-18,Jeddah,Central Jeddah,Al Hamraa,Apartment,agency,6,23212.0,2910.0,True,New,nan,160002820414.0,False,No,No,Elite Buildings Real Estate Development Company,nan

In [ ]:

cat_cols = [
    'id', 'name', 'location', 'lat', 'long', 'building_no', 'Amenities', 
    'furnished', 'completion_status', 'reactivatedAt', 'city', 'region', 
    'district', 'link', 'building_type', 'all_pictures', 'purpose', 'type', 
    'postal_code', 'additional_no', 'isVerified', 'listing_age', 'listing_face', 
    'deed_number', 'hasProject', 'is_listing_constrained', 'is_listing_pawned', 
    'agency_name', 'residence_type'
]


num_cols = [col for col in df.columns if col not in cat_cols and col not in ['index', 'createdAt', 'updatedAt']]

print(f"Kategorik Sütun Sayısı: {len(cat_cols)}")
print(f"Sayısal Sütun Sayısı: {len(num_cols)}")

Kategorik Sütun Sayısı: 29
Sayısal Sütun Sayısı: 5

In [13]:
# Kategorik sütunları metin (string) yap
df[cat_cols] = df[cat_cols].astype(str)

# Sayısal sütunları sayıya (numeric) çevir
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

print("Dönüşüm tamamlandı!")

Dönüşüm tamamlandı!

In [14]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
# Sayısal olanların özet tablosu (ortalama, max vb.)
display(df[num_cols].describe())

# Kategorik olanların ilk 5 satırı
display(df[cat_cols].head())

In [ ]:

num_analysis = []
for col in num_cols:
    num_analysis.append({
        'Column': col,
        'Null Values': df[col].isna().sum(),
        'Min Value': df[col].min(),
        'Max Value': df[col].max()
    })

num_summary_df = pd.DataFrame(num_analysis)

cat_analysis = []
for col in cat_cols:
    cat_analysis.append({
        'Column': col,
        'null': df[col].replace('nan', pd.NA).isna().sum(), 
        'Unique': df[col].nunique()
    })

cat_summary_df = pd.DataFrame(cat_analysis)


print(f"Toplam Sayısal Sütun Sayısı: {len(num_cols)}")
display(num_summary_df)

print(f"\nToplam Kategorik Sütun Sayısı: {len(cat_cols)}")
display(cat_summary_df)

Toplam Sayısal Sütun Sayısı: 5

    Column  Null Values  Min Value   Max Value
0    price            0     350.00 13000000.00
1    rooms            0       1.00      100.00
2     bath            0       0.00       11.00
3  Area_m2            0      24.73   103104.38
4     beds            0       0.00       11.00

Toplam Kategorik Sütun Sayısı: 29

                    Column  null  Unique
0                       id     0    5065
1                     name     0    2369
2                 location     0     154
3                      lat     0    4957
4                     long     0    4954
5              building_no     3    2693
6                Amenities     9    1281
7                furnished     0       2
8        completion_status     0       1
9            reactivatedAt     0     302
10                    city     0       2
11                  region    12      15
12                district    94     147
13                    link     0    5065
14           building_type     0       1
15            all_pictures   740    4326
16                 purpose     0       1
17                    type   617       3
18             postal_code     2     471
19           additional_no     2    2708
20              isVerified     0       2
21             listing_age     0      13
22            listing_face  2430      11
23             deed_number     0    5065
24              hasProject     0       2
25  is_listing_constrained     0       2
26       is_listing_pawned     0       2
27             agency_name   617     639
28          residence_type   591       2

In [ ]:

num_unique_analysis = []

for col in num_cols:
    num_unique_analysis.append({
        'Sütun Adı': col,
        'uniqe': df[col].nunique(),
        'sample': df[col].unique()[:5].tolist() 
    })

num_unique_df = pd.DataFrame(num_unique_analysis)
display(num_unique_df)

  Sütun Adı  uniqe                                             sample
0     price    535  [1230000.0, 1590000.0, 890000.0, 1360000.0, 85...
1     rooms     14                          [5.0, 3.0, 2.0, 6.0, 4.0]
2      bath     10                                    [4, 3, 5, 2, 1]
3   Area_m2   3623           [186.06, 178.04, 157.12, 137.98, 210.53]
4      beds     12                                    [5, 3, 6, 2, 1]

In [36]:
# Satır ve Sütun sayısını beraber görmek için:
print(f"Toplam Satır Sayısı: {df.shape[0]}")
print(f"Toplam Sütun Sayısı: {df.shape[1]}")

# Sadece satır sayısını bir sayı olarak almak istersen:
# len(df)

Toplam Satır Sayısı: 5065
Toplam Sütun Sayısı: 31